# ==============================================================================
# Yahboom Rover Configurations Template (.env.example)
# Copy this file to '.env' and fill in your local system variables.
# ==============================================================================

# WiFi Credentials (git-ignored, used for RPi5 configuration)
WIFI_SSID=Dobby
WIFI_PASSWORD=sanmina-1

# Node Web Server Configurations
PORT=3000
SERIAL_PORT=/dev/ttyAMA0
BAUD_RATE=115200

# I2C Sidecar Configurations
I2C_SIDECAR_URL=http://127.0.0.1:3001/data
I2C_PORT=3001
I2C_BUS=1
I2C_ADDRESS=0x34
I2C_INTERVAL=0.1

