[Unit]
Description=Rover I2C Python Sidecar
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{PYTHON_PATH}} yahboom_i2c.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
